/* LANDING */


.landing__wrapper {
  display: flex;
}

.landing__content {
  width: 100%;
}

.landing__image--mask {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.landing__image--mask img {
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.landing__content__title {
  color: #032b41;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}

.landing__content__subtitle {
  color: #394547;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 24px;
  line-height: 1.5;
}



.home__cta--btn {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}


